{
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-class-properties",
        "transform-export-extensions",
        "transform-es2015-modules-commonjs"
    ],
    "presets": [
        "@babel/env",
        "@babel/react"
    ]
}